.menu:hover{
    border-width: 2px;
    border-style: solid;
    border-color: gold;
}

.hero{
    background-image: url(assets/image/hero.jpeg);
    background-color: rgba(0, 0, 0, 0.5);
    background-position: center;
    background-size: cover;
    height: 600px;
    padding: 0%;
    margin: 0%;
}

@font-face {
    font-family: pizza;
    src: url(assets/font/Playball-Regular.ttf);
}

.hero-text{
    font-family: pizza;
    justify-content: center;
    font-size: 150px;
}

.hero1-text{
    font-size: 150px;
    font-weight: 300px;
    font-stretch: expanded;
    padding-bottom: 20px;
}

.hero2-text{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: pizza;
    font-size: 80px;
}

.hero3-text{
    font-family: pizza;
    justify-content: center;
    font-size: 40px;
}

.about{
    background-image: url(assets/image/about-us.jpeg);
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    height: 600px;
    padding: 0%;
    margin: 0%;
}

.about1-text{
    font-family: pizza;
    justify-content: center;
    font-size: 60px;
}

.follow{
    background-image: url(assets/image/follow-us.jpeg);
    background-position: center;
    background-size: cover;
    height: 250px;
    padding: 0%;
    margin: 0%;
}

.follow-text{
    font-family: pizza;
    font-size: 80px;
}

.dark{
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 0px;
}